<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--
        - meta tags
    -->
    <title>Login | Laguin</title>
    <meta name="title" content="Login | Laguin" />
    <meta
      name="description"
      content="Laguin is a method for listening to a huge number of tunes without downloading them."
    />

    <!--
        - favicon
    -->
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml" />

    <!--
        - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap"
      rel="stylesheet"
    />

    <!--
        - custom css
    -->
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <article class="login-page">
      <div class="banner">
        <img
          src="/images/login-banner.jpg"
          width="2560"
          height="1920"
          alt="login banner"
          class="img-cover"
        />
      </div>

      <div class="content">
        <a href="/" class="logo">
          <img
            src="/images/logo.svg"
            width="100"
            height="100"
            alt="Laguin logo"
          />
        </a>

        <div class="wrapper">
          <h2 class="title headline-medium">
            <strong>Join us</strong> and embark on an incredible musical
            <strong>journey!</strong>
          </h2>

          <a href="/auth" class="btn btn-primary has-icon">
            <img src="/images/icon.svg" width="42" height="42" alt="icon" />

            <span class="label-large">Continue with Laguin</span>

            <div class="state-layer"></div>
          </a>
        </div>

        <p class="bottom-text label-large">
          Powered by
          <a
            href="https://mkaidev-media.vercel.app"
            target="_blank"
            class="link link-primary"
            >Mkaidev Media</a
          >
        </p>
      </div>
    </article>
  </body>
</html>
